{% extends "catalog/base.html" %}
{% load static %}
{% block content %}
{% include 'catalog/header.html' %}
        <section class="page">
    <div class="page__header">
        <div class="container">
            <ul class="page__header-breadcrumbs">
                <li class="page__header-breadcrumbs-unit">
                    <a class="page__header-breadcrumbs-link" href="/">Главная</a>
                </li>
                <li class="page__header-breadcrumbs-unit">
                    <a class="page__header-breadcrumbs-link" href="/news/">Портфолио</a>
                </li>
            </ul>
            <div class="page__header-date">{{ project.date|date:'j M Y' }}</div>
            <h1 class="page__header-title page__header-title_news"><span class="page__header-title-text">        <editor >
                            {{ project.title }}
                    </editor>
</span></h1>
        </div>
    </div>
    <div class="page__content">
        <div class="container">
            <div class="page__content-large-img">
              {% for picture in images %}
                                            <img src="{{ picture.image.url }}" alt="{{ project.title }}"/>
              {% endfor %}
                                                </div>
            <article class="page__content-text">
                        <editor >
                            <p>{{ project.description }}</p>
                    </editor>

            </article>
        </div>
    </div>
</section>
{% include 'catalog/footer.html' %}
{% endblock %}
