<header class="header">
<div class="container">
    <a href="/" class="header__logo header__logo_inner" title="Redhaus"></a>
    <nav class="menu menu_header">
        <ul class="menu_header__layout">
            <li class="menu_header__layout-unit {% if location == 'home' %}active{% endif %}">
                <a href="/" class="menu__item">О компании</a>
            </li>
            <li class="menu_header__layout-unit {% if location == 'catalog' %}active{% endif %}">
                <a href="/catalog/" class="menu__item">Каталог</a>
            </li>
            <li class="menu_header__layout-unit {% if location == 'portfolio' %}active{% endif %}">
                <a href="/news/" class="menu__item">Портфолио</a>
            </li>
            <li class="menu_header__layout-unit {% if location == 'designers' %}active{% endif %}">
                <a href="/designers/" class="menu__item">Дизайнерам</a>
            </li>
            <li class="menu_header__layout-unit {% if location == 'contacts' %}active{% endif %}">
                <a href="/contacts/" class="menu__item">Контакты</a>
            </li>
            <li class="menu_header__layout-unit">
                <div class="menu__item menu__item_phone">
                  <div>
                  <span>{{ phone_redhaus }}</span>&nbsp;
                  </div>
                </div>
                <div class="menu__item menu__item_addr menu__item_addr_top">
                    {{ address }}
                </div>
            </li>
        </ul>
    </nav><!-- .menu -->
</div>
</header>
